.background {
  /*content*/
  background-image: url("img/background-filter.jpg");
  /*size*/
  width: 40vw;
  height: 100vh;
  background-size:cover;
  /*arrangement*/
  display: block;
  overflow: hidden;
  /*position*/
  position: fixed;
  left: 0;
  top: 0;
}