.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  margin-left: 10vmin;
  text-align: left;
}
.icon-link {
  text-decoration: none;
}
.iconfont, .icon-link {
  font-size: 4vmin;
  color: white;
  padding-top: 5vmin;
}