.team-intro {
  text-align: center;
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 20%;
}
.avatar {
  margin-top: 5%;
  width: 10vmin;
  height: 10vmin;
  border-radius: 10vmin;
}
.name {
  font-size: 3vmin;
  color: white;
  padding-top: 3%;
}
.self_introduction {
  font-size: 2.2vmin;
  color: white;
  padding-top: 3%;
  text-align:justify;
}
.profile-background {
  background-image: url("./img/self_introduction_background.jpg");
}